# DEV TEMPLATE GULP (Twig)
# version: 0.1.0
# https://github.com/yama-dev/dev-template-gulp-twig
# Copyright yama-dev
# Licensed under the MIT license.
# Date: 2018-07-05

RewriteEngine On
RewriteBase /

RewriteRule ^_twig.module\.php$ - [L]
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /_twig.module.php [L]

